---
layout: default
title: Home
---

{% include intro.html %}
{% include research.html %}
{% include projects.html %}
{% include news.html %}
{% include teaching.html %}
{% include misc.html %}

<a title="Real Time Web Analytics" href="http://clicky.com/101347503"><img alt="Clicky" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script async src="//static.getclicky.com/101347503.js"></script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101347503ns.gif" /></p></noscript>