<section class="experience-section" id="journey">
  <div class="container">
    <p class="section-kicker"><span>Journey</span></p>
    <div class="experience-scroll">
      <div class="timeline">
        <div class="timeline-line"></div>

        <div class="timeline-item timeline-item--bd timeline-item--down">
          <div class="timeline-above">
            <p class="timeline-year">2008 &ndash; 2011</p>
          </div>
          <div class="timeline-axis"><span class="timeline-dot"></span></div>
          <div class="timeline-below">
            <p class="timeline-role">BSc <span class="timeline-dept">(CS &amp; IT)</span></p>
            <a class="timeline-org" href="https://www.iutoic-dhaka.edu/">Islamic University of Technology &#x1F1E7;&#x1F1E9;</a>
          </div>
        </div>

        <div class="timeline-item timeline-item--ca timeline-item--up">
          <div class="timeline-above">
            <p class="timeline-role">MSc <span class="timeline-dept">(CS)</span></p>
            <a class="timeline-org" href="https://www.ucalgary.ca/">University of Calgary &#x1F1E8;&#x1F1E6;</a>
          </div>
          <div class="timeline-axis"><span class="timeline-dot"></span></div>
          <div class="timeline-below">
            <p class="timeline-year">2014 &ndash; 2016</p>
          </div>
        </div>

        <div class="timeline-item timeline-item--bd timeline-item--down">
          <div class="timeline-above">
            <p class="timeline-year">2017 &ndash; 2022</p>
          </div>
          <div class="timeline-axis"><span class="timeline-dot"></span></div>
          <div class="timeline-below">
            <p class="timeline-role">Faculty <span class="timeline-dept">(CSE)</span></p>
            <a class="timeline-org" href="https://www.aust.edu/">Ahsanullah University of Science &amp; Technology &#x1F1E7;&#x1F1E9;</a>
          </div>
        </div>

        <div class="timeline-item timeline-item--us timeline-item--up">
          <div class="timeline-above">
            <p class="timeline-role">PhD Student <span class="timeline-dept">(CS)</span></p>
            <a class="timeline-org" href="https://www.colorado.edu/">University of Colorado Boulder &#x1F1FA;&#x1F1F8;</a>
          </div>
          <div class="timeline-axis"><span class="timeline-dot"></span></div>
          <div class="timeline-below">
            <p class="timeline-year">2022 &ndash; present</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
