<section class="intro">
  <div class="container">

  <p class="lead">
  <div class="portrait"><img src="/assets/images/mij.png"></div>
	<p style="font-size:90%"> Welcome to my page!	I am Mohammad Imrul Jubair. I completed my MSc in Computer Science from the <a href="http://www.ucalgary.ca/cpsc">University of Calgary, Canada</a> under the supervision of <a href="http://pages.cpsc.ucalgary.ca/~ualim/">Dr. Usman R. Alim</a>. I worked as a research assistant in Visualization and Graphics Group <a href="http://visagg.cpsc.ucalgary.ca/">(VISAGG)</a> at <a href="http://jungle.cpsc.ucalgary.ca/wiki/">Graphics Jungle Lab.</a> I completed my BSc in Computer Science and Information Technology from the <a href="http://www.iutoic-dhaka.edu/">Islamic University of Technology, Dhaka</a>.
  I also worked as a teaching assistant at University of Calgary from Fall 2014 to Fall 2016. Currently, I am working as a faculty member in Computer Science and Engineering at <a href="http://www.aust.edu/">Ahasanullah University of Science and Technology, Bangladesh</a>.
</p>
</p>
<br>
	</div>
	</section>
