<section class="intro">
  <div class="container">
    <a name="miscellaneous"></a>
    <h2 class="category-title" style="font-size:130%">Miscellaneous</h2>
    <p class="lead">
    <ul style="font-size:90%; list-style-type:circle">
    <li>See my <a href="papers/visagg_presentation.pdf">presentation</a> at VISAGG talk.</li>
    <li>See my <a href="papers/SciVis Course Seminar talk.pdf">presentation</a> at SciVis course seminar.</li>
    <li>See my <a href="https://docs.google.com/presentation/d/e/2PACX-1vT6F-U15A3mllV3ClRyRjO1JQKzi6Px0FsmOeMLP4QrgZHkd72tXalLPCDk9dOhp0aGWX-tyMpsY1rI/pub?start=true&loop=false&delayms=5000">presentation on tessellation</a> for Rendering course seminar. Read <a href="papers/tessellationfeed.pdf">feedback</a> from the undergrad student audiences.</li>
       <li>I make 2D animations for fun. Visit my <a href="http://www.youtube.com/user/jubairization">YouTube channel</a>.</li>
    </ul>
    </p>
    <br>
    <p style="font-size:80%"><a href="/index.html#" ; style="font-weight:bold">| Jump to top |</a></p>
  </div>
</section>
