<section class="intro">
  <div class="container">
    <a name="miscellaneous"></a>
    <h2 class="category-title">Miscellaneous</h2>
    <p class="lead">
    <ul>
    <li>See my MSc work featured in <a href="https://www.dkrz.de/kommunikation/pub/mitteilungen/ausgabe-26-10-2016?lang=de">DKRZ Mitteilungen Nr. 26 - Oktober 2016</a>.</li> 
    <li>See my <a href="papers/visagg_presentation.pdf">presentation</a> at VISAGG seminar talk.</li>
    <li>I make 2D animations for fun. Visit my <a href="http://www.youtube.com/user/jubairization">YouTube channel</a>.</li>
    </ul>
    </p>
  </div>
</section>
