<nav class="nav">
  <div class="container">
    <div class="title">
	<br>
      <span class="titlespan">{{ site.author.name }}</span><br>
      <a href="http://www.ucalgary.ca/">University of Calgary</a><br>
      <a href="http://visagg.cpsc.ucalgary.ca/">Visualization and Graphics Group</a><br><br>
      <p>contact: {{ site.author.email }} </p>
      <br>
    </div>
    <div style="clear:both;"></div>
    <div style="text-align: left">
    <ul class="navbar">
        <li><a href="#research"><span>Research</span></a></li>
        <li><a href="#projects"><span>Projects</span></a></li>
        <li><a href="#teaching"><span>Teaching</span></a></li>
        <li><a href="#miscellaneous"><span>Updates</span></a></li>
        <li><a href="http://github.com/imruljubair"><span>GitHub</span></a></li>
        <li><a href="{{ '/cv/CV_MIJubair.pdf' | prepend: site.baseurl }}"><span>CV</span></a></li>
      </ul>
    </div>
  </div>
</nav>
