<nav class="nav" style = "background-color: rgb(237, 237, 222);">

  <div class="container">
    <!--<div class="portrait"><img src="/assets/images/mijubair.jpg"></div>-->
	<!--<div class="portrait"><img src="/assets/images/mijpic.jpg"></div>-->
    <div class="title">
      <span class="titlespan">{{ site.author.name }}</span><br>
      <p style="font-size:90%"><span>&#xf5a1;</span> Faculty in CSE, <a href="http://aust.edu/">Ahsanullah University of Science and Technology</a><br>
        <span>&#9744;</span> Former researcher, <a href="http://visagg.cpsc.ucalgary.ca/">Graphics Jungle</a> at <a href="http://www.ucalgary.ca/">University of Calgary</a><br>
        <span>&#9993;</span> jubair.cse@aust.edu | mohammadimrul.jubair@ucalgary.ca</p>

    </div>
    <div style="clear:both;"></div>
    <div style="text-align: left">
    <ul class="navbar">
        <li><a href="#news"><span>News</span></a></li>
        <li>.</li>
        <li><a href="#research"><span>Research</span></a></li>
        <li>.</li>
        <li><a href="#projects"><span>Projects</span></a></li>
        <li>.</li>
        <li><a href="#teaching"><span>Teaching</span></a></li>
        <!--<li>|</li>
        <li><a href="https://github.com/imruljubair"><span>GitHub</span></a></li>
        <li>|</li>
        <li><a href="#miscellaneous"><span>Misc</span></a></li>
        <li>|</li>
        <li><a href="{{ '/cv/CV_MIJubair.pdf' | prepend: site.baseurl }}"><span>CV</span></a></li>-->
      </ul>
    </div>
  </div>
</nav>
