<section class="intro">
 
  <div class="container">
    <a name="news"></a>
    <h2 class="category-title" style="font-size:130%">News</h2>
	<div style="height:145px;overflow:scroll;padding:5px;background-color:#FCFADD;color:#714D03;scrollbar-base-color:#DEBB07;">
    <ul style="font-size:90%; list-style-type:circle">
    <li>[Mar 2022] Three workshop papers submitted to <strong>CVPR22</strong>.</li>
    <li>[Mar 2022] Our <strong>project</strong> "Jamdani motif generation" took place in <strong>top 50</strong> for Bangladesh Hi-Tech Park Authority & IEB's <a href="https://www.unibatorbd.org/">UNIBATOR</a> program.</li>
    <li>[Dec 2021] One <strong>abstract</strong> accepted to <strong>VISAPP22</strong>.</li>
    <li>[Dec 2021] One <strong>paper</strong> accepted to <strong>AAAI22</strong> workshop.</li>
    <li>[Nov 2021] Paper submitted to <strong>AAAI22</strong> workshop.</li>
    <li>[Nov 2021] One <strong>paper</strong> accepted to <strong>VISAPP22</strong></li>
    <li>[Oct 2021] Two papers submitted to VISAPP22.</li>
    <li>[Sep 2021] Three student abstracts submitted to <strong>AAAI22</strong></li>
    <li>[Jun 2021] Succefully conducted "Workshop on Moodle" for the <a href="https://www.aust.edu/te/news/637">project of AUST & Engelbert Strauss (ES) - Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ)</a>.
	  <li>[May 2021] Our <strong>project</strong> "Jamdani motif generation" is selected for Bangladesh Hi-Tech Park Authority & IEB's <a href="https://www.unibatorbd.org/results/#:~:text=Jamdani%20motif%20generation%20using%20conditional%20generative%20adversarial%20network">UNIBATOR</a> program.</li>
	  <li>[Dec 2020] Our datatset <strong>Jamdani Noksha</strong> is now available <a href="https://github.com/raihan-tanvir/generative-jamdani">here.</a></li>
	  <li>[Dec 2020] Successfully organized ICCIT2020 virtually as a member of technical sub-committee.</li>
	  <li>[Dec 2020] Attended ACCV2020.</li>
	  <li>[Nov 2020] Two <strong>papers</strong> accepted at ICCIT2020.</li>
	  <li>[Oct 2020] Our datatset <strong>BdSL36</strong> is now available <a href="https://drive.google.com/drive/folders/1f9sLKK6D86tZH5celUQzUdZI0UtiRfGQ">here.</a></li>
	  <li>[Oct 2020] One <strong>paper</strong> accepted at ACCV2020 Workshop.</li>
	  <li>[Aug 2020] One <strong>short paper</strong> accepted at ICTAI2020.</li>
	  <li>[May 2020] Successfully completed edX Certificate Course (CSE167x: Computer Graphics) from UCSanDiegoX. <a href="https://courses.edx.org/certificates/51e5610d19c148fdacbdc1d906757b79">[view certificate]</a>.</li>
	  <li>[Nov 2018] Our datatset <strong>BdSLImset</strong> is now available <a href="https://github.com/imruljubair/BdSLImset">here.</a></li>
      <li>[Nov 2018] One <strong>paper</strong> accepted at ICIET 2018 for oral presentation.</li>
      <li>[Sep 2018] Succefully completed Teaching for Active Learning (TAL) course offered by fLTR.</li>
      <li>[Dec 2016] <strong>Talk</strong> given on "Icosahedral Maps for a Multiresolution Representation of Earth Data" at Grad Seminar, UofC.</li>
      <li>[Oct 2016] My <strong>MSc project</strong> "Icosahedral Maps" is featured in <a href="https://www.dkrz.de/kommunikation/pub/mitteilungen/ausgabe-26-10-2016?lang=de">DKRZ's announcement</a>.</li>
      <li>[Oct 2016] <strong>Talk</strong> given on my MSc project "Icosahedral Maps" at German Climate Computing Centre.</li>
      <li>[Oct 2016] <strong>Paper</strong> presented at VMV 2016.</li>
      <li>[Aug 2016] <strong>Talk</strong> given on "Icosahedral Maps for a Multiresolution Representation of Earth Data" at VISAGG seminar series, UofC.</li>
      <li>[Dec 2015] <strong>Talk</strong> given on "Introduction to CUDA" at VISAGG seminar series, UofC.</li>
	  <li>[Dec 2015] <strong>Talk</strong> given on "Introduction to tessellation" at Rendering course Grad seminar series, UofC.</li>
    </ul>
	</div>
  </div>
</section>
