<section class="intro">
  <div class="container">
    <a name="news"></a>

    <h2 class="category-title">News</h2>
    <ul>
      <li>[Nov 2018] One paper accepted at ICIET 2018 (30% acceptance rate).</li>
      <li>[Nov 2018] One paper submitted to AAAI 2019 Workshop.</li>
      <li>[Oct 2018] One paper (poster) submitted to ICIET 2018.</li>
      <li>[Sept 2018] One full paper submitted to ICIET 2018.</li>
      <li>[Sept 2018] Succefully completed Teaching for Active Learning (TAL) course offered by <a href="http://fltr.org.bd/">fLTR</a>.</li>
      <li>[Dec 2016] Grad Seminar talk given at University of Calgary.</li>
      <li>[Oct 2016] "Icosahedral Maps" is featured in <a href="https://www.dkrz.de/kommunikation/pub/mitteilungen/ausgabe-26-10-2016?lang=de">DKRZ Mitteilungen Nr. 26 - Oktober 2016</a>.</li>
      <li>[Oct 2016] Visited German Climate Computing Centre to present the "Icosahedral Maps" and received necessary feedbacks from the scientists.</li>
      <li>[Oct 2016] Paper presented at VMV 2016.</li>
    </ul>

  </div>
</section>
