<section class="intro">
  <div class="container">
    <a name="news"></a>
    <h2 class="category-title" style="font-size:130%">News</h2>
    <ul style="font-size:80%; list-style-type:circle">
      <li>[Jun 2021] Succefully conducted the Workshop on Moodle at AUST.
	  <li>[May 2021] Our <strong>project</strong> "Jamdani motif generation" is selected for Bangladesh Hi-Tech Park Authority & IEB's <a href="https://www.unibatorbd.org/results/#:~:text=Jamdani%20motif%20generation%20using%20conditional%20generative%20adversarial%20network">UNIBATOR</a> program.</li>
	  <li>[Dec 2020] Successfully organized ICCIT2020 virtually.</li>
	  <li>[Nov 2020] Two <strong>papers</strong> accepted at ICCIT2020.</li>
	  <li>[Oct 2020] <strong>Paper</strong> accepted at ACCV2020 Workshop.</li>
	  <li>[Sep 2020] <strong>Paper</strong> submitted to ACCV2020 Workshop.</li>
	  <li>[Aug 2020] <strong>Paper</strong> accepted at ICTAI2020 as short paper.</li>
	  <li>[Jul 2020] <strong>Paper</strong> submitted to ICTAI2020.</li>
      <li>[Nov 2018] <strong>Paper</strong> accepted at ICIET 2018 for oral presentation.</li>
      <li>[Sep 2018] Succefully completed Teaching for Active Learning (TAL) course offered by fLTR.</li>
      <li>[Dec 2016] <strong>Talk</strong> given on "Icosahedral Maps for a Multiresolution Representation of Earth Data" at Grad Seminar, University of Calgary.</li>
      <li>[Oct 2016] My <strong>MSc project</strong> "Icosahedral Maps" is featured in <a href="https://www.dkrz.de/kommunikation/pub/mitteilungen/ausgabe-26-10-2016?lang=de">DKRZ's announcement</a>.</li>
      <li>[Oct 2016] <strong>Talk</strong> given on my MSc project "Icosahedral Maps" at German Climate Computing Centre.</li>
      <li>[Oct 2016] <strong>Paper</strong> presented at VMV 2016.</li>
      <li>[Aug 2016] <strong>Talk</strong> given on "Icosahedral Maps for a Multiresolution Representation of Earth Data" at VISAGG seminar series, University of Calgary.</li>
      <li>[Dec 2015] <strong>Talk</strong> given on "Introduction to CUDA" at VISAGG seminar series, University of Calgary.</li>
	  <li>[Dec 2015] <strong>Talk</strong> given on "Introduction to tessellation" at Rendering course Grad seminar series, University of Calgary.</li>
    </ul>

  </div>
</section>
