<section class="intro">
  <div class="container">
    <a name="projects"></a>
    <h2 class="category-title" style="font-size:130%">Projects</h2>
    <p class="lead">
      <ul style="font-size:85%">
        <li><a href="project/project-page.html#bdsl">Bangladeshi Sign Language detection using Deep Learning</a>.</li>
        <li><a href="project/project-page.html#cartoon">Cartoon to Real</a>.</li>
        <li><a href="project/project-page.html#whymyface">WhyMyFace</a>.</li>
        <li><a href="project/project-page.html#acm4icon">ACM for ICON Grid</a>.</li>
        <li><a href="project/project-page.html#glslicon">Visualizing ICON Data using GLSL</a>.</li>
      </ul>
    </p>
    <p style="font-size:80%">[Visit my <a href="https://github.com/imruljubair"; style="font-weight:bold">GitHub Page</a>] </p>
  </div>
</section>
