<section class="intro">
  <div class="container">
    <a name="projects"></a>
    <h2 class="category-title" style="font-size:130%">Projects</h2>
    <p class="lead">
      <ul style="font-size:90%">
	  <a href="project/project-page.html#textedit">Editing Bengali Scene Text</a> |
	  <a href="project/project-page.html#jamdani">Artificial Jamdani Artist</a> |
	  <a href="project/project-page.html#i2i">Image to Image Attire Transfer</a> |
      <a href="project/project-page.html#bdsl">BdSL detection using Deep Learning</a> |
      <a href="project/project-page.html#cartoon">Toon2real</a> |
      <a href="project/project-page.html#whymyface">WhyMyFace</a> |
	  <a href="project/project-page.html#icomaps">Icosahedral Maps</a> |
      <a href="project/project-page.html#acm4icon">ACM for ICON Grid</a> |
      <a href="project/project-page.html#glslicon">Visualizing ICON Data using GLSL</a>
      </ul>
    </p>
    <p style="font-size:80%">[Visit my <a href="https://github.com/imruljubair"; style="font-weight:bold">GitHub Page</a>] </p>
  </div>
</section>
