<section class="intro">
  <div class="container">
    <a name="research"></a>
    <h2 class="category-title">Research</h2>
    <p class="lead"> I have interest in Visualization, Graphics and Computer Vision. In my MSc research, I collaborated with the <a href="https://www.dkrz.de/about-en">German Climate Computing Centre</a> and developed a technique for efficient multiresolution visualization of climate data. For more details please have a look at my <a href="https://prism.ucalgary.ca/handle/11023/3527">thesis</a> (and <a href="http://visagg.cpsc.ucalgary.ca/sites/default/files/vmv%2Bdkrz.pdf">slides</a>). </p>

<div class="container">
<img src="/assets/images/banner.png">
</div>

<p>
<br>
I have research experiences in Image Processing and Computer Vision since my undergrad. One of my ongoing projects is - Bangladeshi sign language detection using neural networks. I am mentoring a group of my students to work on this project and to build a dataset called - <a href="http://github.com/imruljubair/BdSLImset">BdSLimset</a>.</p>

<div class="container">
<img src="/assets/images/banner3.png">
</div>

<p>
<br>
<br>
Some of my selected publications are listed below. You can also visit my <a href="http://scholar.google.com/citations?user=H4-yZ3wAAAAJ&hl=en">Google Scholar</a> page.</p>
<ol>
 <li> Hoque O., Jubair M. I., Islam M. S., Akash A. & Paulson A., “Real Time Bangladeshi Sign Language Detection using Faster R-CNN”, (Submitted), International Conference on Innovation in Engineering and Technology, Dhaka, 2018.</li>
  <li> Jubair M. I., Alim U., Röber N., Clyne J. & Mahdavi-Amiri A., <a href="https://dl.acm.org/citation.cfm?id=3056928">“Icosahedral Maps for a Multiresolution Representation of Earth Data” </a>, 21st International Symposium on Vision, Modeling and Visualization, Bayreuth, 2016.</li>
  <li> Jubair M. I., Alim U., Röber N., Clyne J., Mahdavi-Amiri A. & Samavati. F., <a href="https://ieeexplore.ieee.org/abstract/document/7429508/">“Multiresolution Visualization of Digital Earth Data via Hexagonal Box Spline Wavelets”</a>, (Poster), IEEE Scientific Visualization Conference, Chicago, 2015.</li>
  <li> Jubair M. I. & Banik P., <a href="https://ieeexplore.ieee.org/abstract/document/6617619">“A Technique to Detect Books from Library Bookshelf Image”</a>, IEEE 9th International Conference on Computational Cybernetics, Hungary, 2013.</li>
</ol>  

</body>

</div>
</section>
