<section class="intro">
  <div class="container">
    <a name="research"></a>
    <h2 class="category-title" style="font-size:130%">Research</h2>
    <p class="lead"  style="font-size:90%">My interest includes <strong>Computer Graphics</strong> and <strong>Computer Vision</strong>. In my MSc research, I collaborated with the <a href="https://www.dkrz.de/about-en">German Climate Computing Centre (DKRZ)</a> and developed a technique called "<a href="https://dl.acm.org/citation.cfm?id=3056928"; style="font-weight:bold">Icosahedral Maps</a>" for efficient multiresolution visualization of climate model, i.e. <a href="https://www.dwd.de/EN/research/weatherforecasting/num_modelling/01_num_weather_prediction_modells/icon_description.html">ICON (Icosahedral Nonhydrostatic) model</a>. I have research experience in Computer Vision, and currently I am involved in <strong>Deep Learnig</strong> based projects [see my <a href="#projects"; style="font-weight:bold">curent projects</a>].
    </p>
<div class="container">
<img src="/assets/images/banner.png">
<img src="/assets/images/bdsl.png">
</div>
<br>
<p style="font-size:100%; font-weight:bold"> Selected publications:</p>
<ol style="font-size:90%; list-style-type:circle">
  <li> Hoque O., <u>Jubair M. I.</u>, Akash A. & Islam M. S., “BdSL36: A Dataset for Bangladeshi Sign Letters Recognition”, (Workshop paper) <strong>ACCV 2020</strong>. [<a href="https://openaccess.thecvf.com/content/ACCV2020W/MLCSA/html/Hoque_BdSL36_A_Dataset_for_Bangladeshi_Sign_Letters_Recognition_ACCVW_2020_paper.html">pdf</a>] [<a href="https://accv2020.github.io/miniconf/workshop_poster_4007.html">presentation at ACCV2020</a>] [<a href="https://drive.google.com/drive/folders/1f9sLKK6D86tZH5celUQzUdZI0UtiRfGQ">supplementary materials</a>]</li>

  <li> Sultan K. M. A., <u>Jubair M. I.</u>, Pranto N. I. & Shuvo S. K., “toon2real: Translating Cartoon Images to Realistic Images”, (Short paper) <strong>ICTAI 2020</strong>. [<a href="https://ieeexplore.ieee.org/abstract/document/9288181/authors#authors">link</a>] [<a href = "https://arxiv.org/abs/2102.01143">arXiv</a>] [<a href="https://youtu.be/ySdTsOcYgyg">presentation video</a>]</li>
  
  <li> <u>Jubair M. I.</u>, “Icosahedral Maps for a Multiresolution Representation of Earth Data”, MSc thesis, Department of Computer Science, University of Calgary, 2016. [<a href="https://prism.ucalgary.ca/handle/11023/3527">pdf</a>] [<a href="http://visagg.cpsc.ucalgary.ca/sites/default/files/vmv%2Bdkrz.pdf">slides</a>]</li>
  
  <li> <u>Jubair M. I.</u>, Alim U., Röber N., Clyne J. & Mahdavi-Amiri A., <a href="https://dl.acm.org/citation.cfm?id=3056928">“Icosahedral Maps for a Multiresolution Representation of Earth Data”</a>, VMV 2016. [<a href="papers/jubairVMV2016.pdf">paper</a>]</li>
  
  <li> <u>Jubair M. I.</u>, Alim U., Röber N., Clyne J., Mahdavi-Amiri A. & Samavati. F., <a href="https://ieeexplore.ieee.org/abstract/document/7429508/">“Multiresolution Visualization of Digital Earth Data via Hexagonal Box Spline Wavelets”</a>, <strong>IEEE VIS 2015</strong>. [<a href="papers/jubairSciVis2015.pdf">paper</a>] [<a href="papers/SciVisPoster2015.pdf">poster</a>]</li>
  
  <li> <u>Jubair M. I.</u> & Banik P., <a href="https://ieeexplore.ieee.org/abstract/document/6617619">“A Technique to Detect Books from Library Bookshelf Image”</a>, IEEE ICCC 2013. [<a href="papers/bookICCC2013.pdf">paper</a>] [<a href="https://github.com/imruljubair/A-Technique-to-Detect-Books-from-Library-Bookshelf-Image">code</a>]</li>
</ol>
<p style="font-size:80%">[Visit my <a href="http://scholar.google.com/citations?user=H4-yZ3wAAAAJ&hl=en"; style="font-weight:bold">Google Scholar Page</a>]</p>
</body>
</div>
</section>
