<section class="intro">
  <div class="container">
    <a name="teaching"></a>
    <h2 class="category-title">Teaching</h2>
    <p class="lead">
      <ul>
        <li><a href="teaching/teaching-page.html#python">Python @ UofC</a></li>
        <li><a href="teaching/teaching-page.html#graphics">Graphics @ AUST</a></li>
        <li><a href="teaching/teaching-page.html#dip">Digital Image Processing @ AUST</a></li>
        <li><a href="teaching/teaching-page.html#ddb">Distributed Database Systems @ AUST</a></li>
      </ul>
  </div>
</section>
