<section class="intro">
  <div class="container">
    <a name="teaching"></a>
    <h2 class="category-title" style="font-size:130%">Teaching</h2>
    <p class="lead">
      <ul style="font-size:90%; list-style-type:circle">
        <li><a href="teaching/teaching-page.html#python">Python @ University of Calgary</a></li>
	    <li><a href="teaching/teaching-page.html#graphicsnew">Computer Graphics (latest) @ AUST</a></li>
        <li><a href="teaching/teaching-page.html#graphicslab">Computer Graphics Lab (WebGL) @ AUST</a></li>
		<li><a href="teaching/teaching-page.html#graphics">Computer Graphics @ AUST</a></li>
        <li><a href="teaching/teaching-page.html#dip">Digital Image Processing @ AUST</a></li>
        <li><a href="teaching/teaching-page.html#ddb">Distributed Database Systems @ AUST</a></li>
      </ul>
  </div>
</section>


